@using ProjeMvc5Eticaret.Models.Siniflar
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>KategoriAdi</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var x in Model)
    {
        <tr>

            <td>@x.KategoriAdi</td>
            <td><a href="/Kategori/KategoriSil/@x.KategoriID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Kategori/KategoriGetir/@x.KategoriID" class="btn btn-success">Güncelle</a></td>

        </tr>


    }
</table>

@Html.PagedListPager((IPagedList)Model,sayfa=>Url.Action("Index",new {sayfa}))
<br />
<td><a href="/Kategori/KategoriEkle" class=" btn btn-success">Kategori Ekle</a></td>

