@using ProjeMvc5Eticaret.Models.Siniflar
@model List<Personel>
@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active"> Departman Adı: @ViewBag.d</li>
</ol>

<br />

<table class="table table-hover">

    <tr>
        <th>Personl</th>
        <th>Satışlar</th>
    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.PersonelAdi @x.PersaonelSoyad </td>
            <td><a href="/Departman/DepartmanPersonelSatis/@x.PersonelID" class="btn btn-default" style="background-color:crimson">Satışlar</a></td>>
        </tr>

    }


</table>

